<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
    <table style="width: 80%; margin: auto;">
        <tr>
            <td ng-click="sonar('la')"><img src="img/la.png" height="200" width="200" alt=""></td>
            <td ng-click="sonar('do')"><img src="img/do.png" height="200" width="200" alt=""></td>
            <td ng-click="sonar('re')"><img src="img/re.png" height="200" width="200" alt=""></td>
            <td ng-click="sonar('resus')"><img src="img/resus.png" height="200" width="200" alt=""></td>
        </tr>

     </ion-list>
  </ion-content>
</ion-view>